@font-face {
  font-family: Kurye;
  src: url(../assets/Kurye-Light.otf);
}

@font-face {
  font-family: Konstarica;
  src: url(../assets/Konstarica.otf);
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 10em;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/bg.png);
  background-size: 100% auto;
}

#title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Konstarica;
  color: rgba($color: #22b388, $alpha: 0.15);
  font-size: 8em;
  z-index: -1;
}

h2 {
  padding-left: 1em;
  font-family: Konstarica;
  color: #d1df7e;
  font-size: 7.5em;
}

p {
  padding: 10px 25px;
  width: 40vw;
  font-family: Kurye;
  color: rgb(216, 236, 214);
  font-size: 1.5em;
  text-shadow: 5px 5px 15px rgba(255, 255, 255, 0.488);
}
