@font-face {
  font-family: Kurye;
  src: url(../assets/Kurye-Light.otf);
}
@font-face {
  font-family: Konstarica;
  src: url(../assets/Konstarica.otf);
}
:root {
  --background: linear-gradient(45deg, #ffffff, #e2caca);
  --text-color: #d1df7e;
  --line-height: 1.5;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
body {
  box-sizing: border-box;
  background-image: url(../assets/bg_image.png);
  background-size: 100% auto;
  overflow: hidden;
}

#title {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fadeIn 150ms ease-in 100ms forwards;
  font-family: Konstarica;
  color: rgba(34, 179, 136, 0.15);
  font-size: 8em;
  z-index: -1;
}

.menu-btn {
  position: absolute;
  top: 50px;
  right: 10px;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  /* border: 3px solid #fff; */
}

.menu-btn__burger {
  width: 40px;
  height: 4px;
  background: #22b388;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger:hover,
.menu-btn__burger:hover::before,
.menu-btn__burger:hover::after {
  animation: glow 100ms ease-in forwards;
}

@keyframes glow {
  to {
    background: #fff;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  }
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  background: #22b388;
  content: "";
  position: absolute;
  width: 40px;
  height: 4px;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
  transform: translateY(-16px);
}

.menu-btn__burger::after {
  transform: translateY(16px);
}

/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent !important;
  box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.table {
  display: flex;
  flex-direction: column;
  gap: 12em;
  position: absolute;
  height: 80vh;
  width: -moz-max-content;
  width: max-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  align-items: center;
  justify-content: center;
}

h3 {
  font-family: Kurye;
  color: rgb(216, 236, 214);
  font-size: 1.5em;
}

div > img {
  height: 200px;
  width: auto;
}

.table > .player > #your-cards,
.table > .dealer > #dealer-cards {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.btn-box {
  animation: fadeIn 200ms ease-out 100ms forwards;
  position: absolute;
  top: 50%;
  left: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn-box > button {
  height: 75px;
  width: 75px;
  background-color: transparent;
  border: none;
  font-family: Konstarica;
  color: #d1df7e;
  font-size: 2rem;
  position: relative;
  font-weight: bold;
  font-size: 2.5rem;
  margin: 0 auto;
  width: -moz-max-content;
  width: max-content;
}

.btn-box > button > .split-text {
  position: relative;
  display: flex;
  flex-direction: column;
  line-height: 1;
  transition: color 0ms 200ms;
}

.btn-box > button:hover > .split-text {
  color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition-delay: 200ms;
}

.btn-box > button > .split-text::before,
.btn-box > button > .split-text::after {
  position: absolute;
  content: attr(data-text);
  height: 0.5em;
  overflow: hidden;
  left: 0;
  right: 0;
  color: var(--text-color);
  transition: color 100ms ease-in-out transform 100ms ease-in-out;
  opacity: 0;
}

.btn-box > button:hover > .split-text::after,
.btn-box > button:hover > .split-text::before {
  opacity: 1;
  color: white;
  transform: skewX(15deg);
}

.btn-box > button:hover > .split-text::before {
  animation: skew-left 200ms ease-in-out forwards;
}

.btn-box > button:hover > .split-text::after {
  bottom: 0;
  display: flex;
  align-items: flex-end;
  animation: skew-left 200ms ease-in-out forwards;
}

@keyframes skew-left {
  100% {
    transform: skewX(15deg);
    color: white;
  }
}
.btn-box > button::before {
  position: absolute;
  content: "";
  width: 105%;
  left: -5%;
  top: 50%;
  transform: scale(0);
  height: 2px;
  background-color: var(--text-color);
  border-radius: 50%;
  z-index: 1;
  transition: transform 200ms ease-in-out;
}

.btn-box > button:hover::before {
  transform: scale(1);
}

.bank-account {
  position: absolute;
  top: 50%;
  left: 10%;
  text-align: left;
  font-family: Kurye;
  color: rgb(216, 236, 214);
  font-size: 1.5em;
}

#playBtn {
  display: block;
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 75px;
  width: 75px;
  background-color: transparent;
  border: none;
  font-family: Konstarica;
  color: #d1df7e;
  font-size: 2rem;
  font-weight: bold;
  font-size: 2.5rem;
}

#playBtn:hover {
  color: #fff;
}

#playBtn.hidden {
  display: none;
}

#bettingTable {
  position: absolute;
  top: 60%;
  left: 10%;
  height: -moz-max-content;
  height: max-content;
  width: 300px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  gap: 10px;
}

#tenChips {
  grid-area: 1/1;
}

#twentyFiveChips {
  grid-area: 2/1;
}

#fiftyChips {
  grid-area: 3/1;
}

#oneHundredChips {
  grid-area: 4/1;
}

#bettingTable > div {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

#bettingTable > div > * {
  box-sizing: border-box;
  border-radius: 2.5rem;
  box-shadow: 5px 10px rgba(0, 0, 0, 0.5411764706);
  height: 80px;
  width: 80px;
  grid-area: 1/1;
}

.firstChip {
  margin-left: 0px;
  z-index: 10;
}

.secondChip {
  margin-left: 40px;
  z-index: 9;
}

.thirdChip {
  margin-left: 80px;
  z-index: 8;
}

.fourthChip {
  margin-left: 120px;
  z-index: 7;
}

.fifthChip {
  margin-left: 160px;
  z-index: 6;
}

#results {
  border-radius: 5px;
  color: #d1df7e;
  font-size: 3em;
  background-color: rgba(94, 156, 137, 0.5);
  z-index: 100;
}/*# sourceMappingURL=inGame_styles.css.map */