body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(./bg.png);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text {
  color: white;
  font-size: 2em;
}
