body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0a301e;
}

.background {
  position: absolute;
  height: 50vh;
  width: 50vw;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  //center the background
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  //background: beige;
}

.background li {
  list-style: none;
  position: absolute;
  width: 300px;
  height: 300px;
  transform: rotate(45deg);
  margin: -100px;
  overflow: hidden;
  background: beige;
  border: 12px solid brown;
}

.background li.diamond1 {
  bottom: 0;
  left: -33%;
}

.background li.diamond2 {
  top: 0;
  left: 0;
}

.background li.diamond3 {
  bottom: 0;
  left: 33%;
}

.background li.diamond4 {
  top: 0;
  left: 66%;
}

.background li.diamond5 {
  bottom: 0;
  left: 99%;
}
