body {
  margin: 0;
  padding: 0;
  background-image: radial-gradient(
    rgb(64, 176, 64),
    rgb(2, 152, 2),
    rgb(0, 114, 0)
  );
  height: 100vh;
  box-sizing: border-box;
}

.cards {
  height: 30px;
  width: 275px;
  padding-top: 100px;
  display: grid;

  /*grid-auto-rows: minmax(150px, auto);*/
  grid-template-rows: repeat(2, minmax(200px, auto));
  /*grid-row-gap: 10px;
			grid-column-gap: 10px;*/
  row-gap: 150px;
  max-width: 960px;
  margin: auto;
}

.cards > div > img {
  height: 180px;
  padding: 5px;
}
