body {
<<<<<<< HEAD
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: radial-gradient(rgb(60, 165, 60), green, darkgreen);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  gap: 10px;
}

div {
  text-align: center;
  max-width: 100vw;
  max-height: 100vh;
}

.functions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: fit-content;
  gap: 5px;
=======
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-image: radial-gradient(rgb(60, 165, 60), green, darkgreen);
}

#dealer-cards,
#your-cards {
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
>>>>>>> 2dd4eb3707f7fed51bbd8c12f34bad1e1a338edd
}

#dealer-cards img,
#your-cards img {
  height: 175px;
  width: 125px;
  margin: 1px;
  box-shadow: 15px 10px 20px rgb(53, 52, 52);
}

<<<<<<< HEAD
=======
.functions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

>>>>>>> 2dd4eb3707f7fed51bbd8c12f34bad1e1a338edd
#hit,
#stay,
#split {
  width: 100px;
  height: 50px;
  font-size: 20px;
<<<<<<< HEAD
}

.your-score {
  margin: 0;
  padding-left: 0;
}

#results {
  color: red;
=======
  background-color: transparent;
  border: 0.1em solid whitesmoke;
  color: white;
}

.bank-account {
  font-size: 1.2rem;
}

#bank,
#betMoney {
  color: white;
}

.bank-account > button {
  background-color: transparent;
  border: none;
  // padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
>>>>>>> 2dd4eb3707f7fed51bbd8c12f34bad1e1a338edd
}
